---
- name: Configure Nutanix Cluster Settings
  hosts: localhost
  gather_facts: false
  collections:
    - nutanix.ncp
  vars_files:
    - ./cluster_vars.yml

  vars:
    nutanix_connection: &nutanix_connection
      nutanix_host: "{{ prism_central_details.ip }}"
      nutanix_username: "{{ prism_central_details.username }}"
      nutanix_password: "{{ prism_central_details.password }}"
      validate_certs: "{{ validate_certs | default(false) }}"

  tasks:
    - name: Configure NTP servers
      nutanix.ncp.ntnx_clusters_v2: 
        <<: *nutanix_connection
        ext_id: "{{ cluster_ext_id }}"
        state: present
        name: "{{ cluster.name }}"
        network: 
          ntp_server_ip_list: "{{ ntp_servers }}"
        wait: true
      register: ntp_result

    - name: Display NTP configuration result
      debug:
        msg: "NTP servers configured: {{ ntp_result.response.data.ntp_servers | default('N/A') }}"

    - name: Configure Data Services IP (DSIP)
      nutanix.ncp.ntnx_clusters_v2:
        <<: *nutanix_connection
        ext_id: "{{ cluster_ext_id }}"
        state: present
        name: "{{ cluster.name }}"
        network:
          external_data_service_ip:
            ipv4:
              value: "{{ dsip_config.ip_address }}"
        wait: true
      register: dsip_result